#
# Homepage and endpoints of the API "{{title}}".
#

server {

        server_name {{host}};
        root /var/www/{{host}}/html;

        # publishing by default the HTML for API description and related files for navigation
	index index.html index.htm;

	location / {
		try_files $uri $uri/ @proxy;
	}

	location @proxy {

		# # # # # # # # # #
		#### special endpoints

		{{#each rewrites}}
                rewrite    # endpoint "{{notes}}" for {{lst}}
                  {{{rewrite_regex}}}
                  {{{rewrite_url}}}
                  break;

		{{/each}}

		# # # # # # # # # #
		#### default and auxiliar endpoint, for all requests of PostgREST-queries
		rewrite  
		  ^{{basePath}}/(.*)$ 
		  /$1 
		  break;

		proxy_pass  http://127.0.0.1:3000;  # my PostREST is  here!
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		default_type  {{{produces}}};
		proxy_hide_header Content-Location;
		proxy_set_header  Connection "";
		proxy_http_version 1.1;
	}
}
